.countriesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.countriesContainer {
  overflow-x: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

  .filterField {
    align-self: flex-end;
  }

  .countriesTable {
    width: 100%;
    overflow-x: auto;
    min-width: 650px;
    margin-bottom: 1rem;

    .mat-column-actions {
      text-align: center;
    }

    .noDataCell {
      text-align: center;
    }
  }

  .mat-paginator-container {
    justify-content: center;
  }
}
