<mat-card [class]="getCardClasses()">
  <mat-card-title>{{ country.name }}</mat-card-title>
  <mat-card-content class="cardContent">
    <div class="countryInfo">
      <span class="title">Population: </span>
      <span>{{ country.population }}</span>
    </div>

    <div class="countryInfo">
      <span class="title">Number of states: </span>
      <span>{{ country.numberOfStates }}</span>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button
      class="blackBtn"
      mat-raised-button
      color="primary"
      routerLink="/edit/{{ country.name }}"
    >
      Edit
    </button>
  </mat-card-actions>
</mat-card>
