@import "../../../assets/scss/variables";

.card {
  &.multiple {
    width: calc(100% / 3);
    min-width: 300px;
  }

  .cardContent {
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    .countryInfo {
      display: flex;
      flex-wrap: wrap;
      gap: 0 0.5rem;

      .title {
        font-weight: bold;
        color: $mainColor;
      }
    }
  }

  .blackBtn {
    background-color: #222;
  }
}
