.card {
  .cardContent {
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    .countryInfo {
      display: flex;
      gap: 0.5rem;

      .title {
        font-weight: bold;
        color: #ff4081;
      }
    }
  }

  .blackBtn {
    background-color: #222;
  }
}
