<div class="formContainer">
  <form class="form" [formGroup]="authForm" (ngSubmit)="handleSubmit()">
    <h2>{{ title }}</h2>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />

      <mat-hint
        class="error"
        *ngIf="
          isFieldInvalid('email') && authFormControls.email.errors?.required
        "
        >Required</mat-hint
      >

      <mat-hint
        class="error"
        *ngIf="
          isFieldInvalid('email') && authFormControls.email.errors?.pattern
        "
        >Invalid Email</mat-hint
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />

      <mat-hint
        class="error"
        *ngIf="
          isFieldInvalid('password') &&
          authFormControls.password.errors?.required
        "
        >Required</mat-hint
      >

      <mat-hint
        class="error"
        *ngIf="
          isFieldInvalid('password') &&
          authFormControls.password.errors?.minlength
        "
        >Password should be 6 characters or more</mat-hint
      >
    </mat-form-field>

    <mat-form-field *ngIf="type === 'register'" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />

      <mat-hint
        class="error"
        *ngIf="
          isFieldInvalid('confirmPassword') &&
          authFormControls.confirmPassword.errors?.required
        "
        >Required</mat-hint
      >

      <mat-hint
        class="error"
        *ngIf="
          !authFormControls.confirmPassword.errors &&
          authForm.errors?.passwordsMismatch
        "
        >Passwords should match</mat-hint
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      [disabled]="!authForm.valid"
      type="submit"
    >
      <span>{{ title }} </span>
    </button>

    <a *ngIf="type === 'register'" class="redirectLink" routerLink="/login"
      >Already have an account? Login</a
    >
    <a *ngIf="type === 'login'" class="redirectLink" routerLink="/register"
      >Don't have an account? Register</a
    >
  </form>
</div>
