@import "../../../assets/scss/variables";

.toolbar {
  padding: 0.5rem 16px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 7px 0px #3e3b3b5e;
  position: relative;
  z-index: 3;

  .leftSide {
    display: flex;
    align-items: center;
    cursor: pointer;

    .appName {
      color: $mainColor;
    }

    .logo {
      display: flex;
      margin-right: 0.5rem;

      img {
        width: 50px;
        max-width: 100%;
        height: 100%;
      }
    }
  }

  .authState {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;

    nav span {
      font-size: 0.9rem;
      cursor: pointer;
      margin: 0 1em;

      &:hover {
        color: $secondaryColor;
      }
    }
  }
}

.sidenavContainer {
  min-height: calc(100% - 75px);

  .sidenav {
    background-color: whitesmoke;
    box-shadow: none;
    padding: 1rem 1.5rem;
    z-index: 3;
  }

  nav span {
    font-size: 0.9rem;
    cursor: pointer;
    margin: 0;

    &:hover {
      color: $secondaryColor;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
  }
}
