@import "../../../assets/scss/variables";

.toolbar {
  background-color: #222;
  color: #fff;
  padding: 0.5rem 16px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  nav span {
    font-size: 0.9rem;
    cursor: pointer;

    &:hover {
      color: $mainColor;
    }
  }

  .authState {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}
