/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/forms";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }

  .pointer {
    cursor: pointer;
  }

  .content {
    width: 90%;
    margin: auto;
  }

  .custom-spinner-dialog .mat-dialog-container {
    box-shadow: none;
    background: transparent;

    .mat-progress-spinner circle,
    .mat-spinner circle {
      stroke: #222;
    }
  }
}
